
@import '_mixins';


:root {
  --aw-white: #ffffff;
  --aw-black: #000000;
}

$product-categories: (
  "people": #FCBD09,
  "crm": #F3701D,
  "manufacturing": #2185D0,
  "operations": #00B5AD,
  "productivity": #DB2828,
  "quality": #AD1771,
  "supplychain": #7B81DD,
  "development": #669901,
);


@each $product-category, $color in $product-categories {

  .bg-#{$product-category}:before {
      background-color: $color;
  }

  .text-#{$product-category} {
    color: $color;
  }

  .aw-bg-#{$product-category} {
    background-image: url('../images/iconbg-#{$product-category}.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    background-position: 5%;
  }


}



.text-white {
  color: var(--aw-white);
}

.text-black {
  color: var(--aw-black);
}


@font-face {
  font-family: 'appward';
  src: url('../fonts/appward.eot?36492724');
  src: url('../fonts/appward.eot?36492724#iefix') format('embedded-opentype'),
       url('../fonts/appward.woff2?36492724') format('woff2'),
       url('../fonts/appward.woff?36492724') format('woff'),
       url('../fonts/appward.ttf?36492724') format('truetype'),
       url('../fonts/appward.svg?36492724#appward') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="aw-"]:before, [class*=" aw-"]:before {
  font-family: "appward";
  font-style: normal;
  font-weight: normal;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aw-bg-default {
  background-image: url('../images/iconbg-default.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  background-position: 5%;
}

$apps: (
  "actions": "\e800",
  "announcements": "\e801",
  "app-creator": "\e802",
  "appointments": "\e803",
  "articles": "\e804",
  "assets": "\e805",
  "audits": "\e806",
  "boards": "\e807",
  "calendar": "\e809",
  "calls": "\e80a",
  "changes": "\e80b",
  "chat":"\e80c",
  "checklist-creator":"\e80d",
  "companies":"\e80e",
  "contacts":"\e80f",
  "database-manager":"\e810",
  "deals":"\e811",
  "discussions":"\e812",
  "documents":"\e813",
  "drawings":"\e814",
  "employees":"\e815",
  "expense-reports":"\e816",
  "faq":"\e817",
  "goals":"\e818",
  "insights":"\e819",
  "inspections":"\e81a",
  "installations":"\e81b",
  "inventory":"\e81c",
  "mail":"\e81d",
  "maintenance":"\e81e",
  "labor-tracking":"\e81f",
  "manpower":"\e820",
  "new-hire":"\e821",
  "meetings":"\e822",
  "notes":"\e823",
  "parts":"\e824",
  "paintbrush":"\e825",
  "pinpoint":"\e826",
  "problems":"\e827",
  "projects":"\e828",
  "purchase-orders":"\e829",
  "queries":"\e82a",
  "purchase-requests":"\e82b",
  "quotes":"\e82c",
  "receiving":"\e82d",
  "recruiting":"\e82e",
  "refresh":"\e82f",
  "report-creator":"\e830",
  "roles":"\e831",
  "rollerbrush" :"\e832",
  "safety" :"\e833",
  "sales-orders" :"\e834",
  "script-hub" :"\e835",
  "scheduling" :"\e836",
  "shipping" :"\e837",
  "skills-qualifications" :"\e838",
  "suggestion-box" :"\e839",
  "support-contracts" :"\e83a",
  "surveys" :"\e83b",
  "table-builder" :"\e83c",
  "territories" :"\e83d",
  "tickets" :"\e83e",
  "time-off" :"\e83f",
  "training" :"\e840",
  "time-tracker" :"\e841",
  "travel" :"\e842",
  "work-heat-map" :"\e843",
  "work-orders" :"\e844"
);

@each $app_name, $app_code in $apps {

  .aw-#{$app_name}:before {
    content: $app_code;
  }
  .aw-#{$app_name}-bg:before {
    content: $app_code;
    position: relative;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    position: relative;
    }


}
